{{!DISPLAY: with the recipeData.json we can 
pull in recipe.label 
(the recipe title) and the url for the image. 
We don't have ingrediets 
or step-by-step stuff yet.}}
<section class="card">
  <a href="/recipe/{{id}}">
    <header>{{recipe.[0].label}}</header>
    <img src="{{recipe.[0].image}}" alt="{{recipe.[0].label}}">
  </a>
</section>

<div>
    <a href="/">Home</a>
    <!-- If the user is logged in, allow them to save a recipe -->
    {{#if loggedIn}}
    <button id="save-recipe" class="btn-no-style">Save</button>
    {{else}}
    
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
  </div>