
{{!-- NOTE: I moved the stuff commented out below to the recipe handlebars. That's where one recipe and it's detailes will show up.  --}}

{{!-- <section class="recipe">
  <img src="/images/{{recipe-image}}" alt="{{painting.description}}">
  <div class="recipe-details">
    <h3>{{recipe.title}}</h3>
    <p>Ingredient: {{recipe.ingredients}}</p>
    <p>Steps: {{recipe.steps}}</p>
  </div>
{{!-- </section> --}} --}}

{{!-- 

{{!-- If the user is logged in we want to render last search result.--}}
<div>
    <a href="/">Home</a>
    <!-- If the user is logged in, allow them to save a recipe -->
    {{#if loggedIn}}
    <button id="save-recipe" class="btn-no-style">Save</button>
    {{else}}
    
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
  </div> --}}
